@model ye_olde_promptory_o_creatures.Models.Conference[]


@{
    ViewBag.Title = "Add";
}
<div class="container-fluid">
    <h2>Add A Conference</h2>

@using (Html.BeginForm())
{
    <h3>Want to add a conference?</h3>
        <div class="form-group">
            <!--LabelFor m=>m.ConferenceName-->
            @Html.LabelFor(m=> m.ConferenceName, new { @class="control-label"})
            @Html.TextBox(m => m.ConferenceName, null, new { @class="form-control"})
       </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConferenceDate, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.ConferenceDate, "{0:d}", null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
}
  
</div>