@model ye_olde_promptory_o_creatures.Models.Creatures

@{
    ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
}

<!--<div class="page-header">
    <h1>Ye Ole Prompt'ry O' Creatures</h1>
</div>-->
<!--<div class="row">
    <!--<ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Dragon</a></li>
        <li role="presentation"><a href="#">Fairy</a></li>
        <li role="presentation"><a href="#">Unicorn</a></li>
        <li role="presentation"><a href="#">Big Foot</a></li>
    </ul>
</div>-->

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Creature Name:</label> @Model.CreatureName</h5>
            <h5><label>Creature Type: </label> @Model.CreatureType</h5>
            <h5><label>Found:</label> @Model.Location</h5>
       
        </div>
        <h5>Description</h5>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.ImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>









 
