@model ye_olde_promptory_o_creatures.Models.Creatures[]
@{
    ViewBag.Title = "Creatures";
}


<div class="jumbotron announcements">
    <div class="row">
        <div class="col-md-6 col-md-push-1 col-xs-2">
            <h1 class="conf-announcement">OHIO BIGFOOT CONFERENCE</h1><br />
            <h2 class="conf-announcement">MAY 20, 2017</h2>
            <h4 class="conf-address">Salt Fork State Park Lodge & Conference Center Lore City, Ohio</h4>
        </div>
        <div class="col-md-6 col-md-push-1">
            <img src="~/Images/BigFoot/bigFootCon.jpg" /><br />
            <div class="btn btn-success"> @Html.ActionLink("Register Today", "RegistrationForm")</div>
            <div class="btn btn-success"> @Html.ActionLink("Upcoming Conferences", "Upcoming")</div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var creature in Model)
        {
            <div class="col-md-4">
                <!--Link text, action name to route to, anonymous types-->
                <h4>
                    @Html.ActionLink(creature.DisplayText, "Detail",
                   new { id = creature.Id })
            </h4>
            <a href="@Url.Action("Detail", new { id = creature.Id })">
                <img src="/Images/@creature.ImageFileName"
                     alt="@creature.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
        }

    </div>
</div>

